.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(224, 255, 255, 0.66);
}


.search-bar {
  position: relative;
}

.search__input {
  height: 32px;
  min-width: 300px;
  border: 1px solid #c7cddb;
  border-radius: 15px;
  font-family: inherit;
  font-size: 1.3rem;
  color: #6c758f;
  padding-left: 34px;
  outline-color: #15a4fa;
}

.search__loupe {
  position: absolute;
  height: 20px;
  fill: #0f4c72;
  left: 10px;
  top: 8px
}
