*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

.board{
  min-width: 360px;
  min-height: 400px;
  border: 5px solid lightcoral;
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board__title{
  font-size: 1.5rem;
  font-weight: 700;
}

.item{
  width: 100%;
  border-radius: 6px;
  border: 2px solid lightpink;
  padding: 10px;
  margin: 5px 0;
  cursor: grab;
  background: whitesmoke;
}

